<article class="single-post">
    {{> post-info post}}
</article>
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea class="comment-body" name="comment-body">Add A New Comment Here</textarea>
    </div>

    <div>
        <button class='single-add-comment' type="submit">add comment</button>
    </div>
</form>
{{/if}}
{{> comments post.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
