:root {
    --primary: lightblue;
    --secondary: white;
    --dark: #201110;
    --border-radius: .3rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 24px;
}

h1,
h2,
h3,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
}


.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}



.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--dark);
    color: var(--secondary);
    border: none;
    outline: none;
    background-color: var(--dark);
    transform: translate(-1px, -1px);
}

.btn:hover {
    color: var(--primary);
    background-color: var(--dark);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}

.btn-inline {
    display: inline;
}

.dashboard {
    padding: 3% 4%;
    background-color: var(--dark);
    color: var(--primary);
}


.logo {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
}

/* main page */

.home-title {
    margin-top: 30px;
}

/* dashboard */
.create-new, .your-posts {
    margin-left: 10px;
}

#post-title {
    display: block;
    width: 40%;
    padding: 1%;
}

.content {
    background-color: var(--secondary);
    width: 80%;
    border: solid 1px;
    padding: 2%;
}

/* single post */

.single-post {
    margin-left: 10px;
    margin-top: 15px;
}

.comment-form {
    margin-left: 10px;
}

.comment-body {
    width: 40%;
    padding: 2%;
}

.comment-text {
    margin-left: 10px;
    font-weight: bolder;
    background-color: var(--secondary);
    width: 60%;
    padding: 1%;
    margin-bottom: 20px;
}

.username {
    margin-left: 10px;
}

.single-add-comment {
    font-size: 15px;
    padding: 1%;
    color: var(--dark)
}

/* login/logout */

.login-form, .signup-form {
    margin-left: 15px;
    margin-top: 15px;
}

.username, .password {
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 30px;
}

#username-signup, #username-login {
    width: 26%;
    padding: .25%;
}

#password-signup, #password-login {
    width: 25%;
    padding: .25%
}

.password, #password {
    margin-left: 15px;
}

.submit {
    font-size: 18px;
    margin-left: 10px;
}

/* cards */

.card {
    margin: 0 0 20px 0;
    border: 2px solid var(--dark);
    border-radius: var(--border-radius);
}

.card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 1%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.card-body {
    padding: 1%;
}



.link {
    color: var(--light-dark);
}

.login-link {
    color: var(--dark);
}

.nav {
    padding: 10px;
    line-height: 1.25;
    float: top;
}


.form-label,
.form-input,
.form-textarea {
    display: block;
}

.form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
}

.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
}

